<%- include ('header'); %>
<h1 class="tArticle">Ajouter un article :</h1>
<div class="formnews">
    <form action="#" method="POST">
        <input type="text" name="title" id="title" placeholder="Titre">
        <input type="textarea" name="description" id="description" placeholder="Text article" row="4"> </input>
        <input type="text" name="img" id="img" placeholder="Url de l'image">
        <button type="submit">Envoyer</button>
    </form>
</div>

<h2 style="color: white; margin-left: 75px; font-style: italic;">Actualité</h2>

<% for(var i=0; i < posts.length; i++) {%>
<div class="soustitre">
    <h3><%= posts[i].title %></h3>
    <div class="actu">
        <div class="actuimg">
            <img src=<%- posts[i].img %>>
        </div>
        <div class="actutext">
            <p><%= posts[i].description %></p>
        </div>
    </div>
</div>
<% } %>

<%- include ('footer'); %>